fastapi[all]
sqlmodel
psycopg2-binary
langgraph
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-core
langchain-tavily
langchain-cohere
langchain-groq
langchain-openrouter
openai
cloudinary
python-dotenv
pydantic-settings
google-api-python-client
bcrypt
pyjwt
python-multipart

google-auth
alembic
razorpay
langgraph-checkpoint-postgres
psycopg-pool
psycopg[binary]
slowapi
gunicorn

markdown-it-py
cryptography
httplib2
